<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="static\master.css">
    <meta charset="utf-8">
    <title></title>
    <style>
  /* .navbar{
  margin-bottom: 0;
  border-radius: 0;
  background-color: #1d2120;
  color: #5a5c51;
  padding: 1% 0;
  font-size: 1.2em
  border: 0;
}
.navbar-brand {
float: left;
min-height: 55px;
padding: 0 15px 5px;
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover{
color: #1111;
background-color: #fff
} */
</style>
</head>
    <body>
      <nav class=" mb-5 navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('core.index') }}"><h2>Business Expense Tracker</h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
      <span class="navbar-toggle-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
          <a class="nav-link active" href="{{ url_for('core.index') }}">Home</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('core.info') }}">About Us</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('core.example') }}">Example</a>
          </li>
          {% if current_user.is_authenticated %}
          <li class="nav-item">
          <li class="nav-link"><a href="{{ url_for('users.logout') }}">Log Out</a></li>
          <li class="nav-item">
          <li class="nav-link"><a href="{{ url_for('users.account') }}">Account</a></li>
          <li class="nav-item">
          <li class="nav-link"><a href="{{ url_for('blog_posts.create_post') }}">Create Post</a></li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('core.new_expense') }}">New Expense</a>
          {% else %}
          <li class="nav-item">
          <li class="nav-link"><a href="{{ url_for('users.login') }}"></a></li>
          <li class="nav-item">
          <li class="nav-link"><a href="{{ url_for('users.register') }}">Register</a></li>
          {% endif %}
          <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown mr-3">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-user"></i> Welcome
          </a>
          <div class="dropdown-menu">
            <a href="{{ url_for('core.profile') }}" class="dropdown-item">
              <i class="fas fa-user-circle"></i> Profile
            </a>
            <a href="{{ url_for('core.settings') }}" class="dropdown-item">
              <i class="fas fa-cog"></i> Settings
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('users.login') }}" class="nav-link">
            <i class="fas fa-user-times"></i> Logout
          </a>
        </li>
      </ul>
          <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Dropdown
        </a>
        <div class="dropdown-menu dropdown-default" >
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Notifactions</a>
          <a class="dropdown-item" href="#">Settings</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" align="right" aria-haspopup="true"
          aria-expanded="false">
          <i class="fas fa-user-tie"></i>
          <i class="fas fa-user"></i>
         </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333" align="right">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Notifactions </a>
          <a class="dropdown-item" href="#">Settings</a> -->
        </div>
      </li>
      </ul>
    </div>
    </div>
  </nav>
  <br>
  <br>
  <!-- LOGIN MODAL TRIGGER -->
<button class=" mt-5 py-3 btn btn-dark btn-block" data-toggle="modal" data-target="#loginModal"><h2>Login</h2></button>
<!-- LOGIN MODAL -->
<div class="modal" id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" placeholder="Username" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" placeholder="Password" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Login</button>
      </div>
    </div>
  </div>
</div>


  <div id="intro" class="view">
    <div class="full-bg-img">
    </div>
  </div>
  <div class="bg"></div>
  <div class="container">
    <!-- <img src="\static\profile_pics\login_bg.jpg" -->
    {% block content %}

    {% endblock %}
  </div>
    </body>
    <footer id="footer" class="page-footer unique-color-dark mt-4">
  <div class="info-color-dark text-center py-4">
      <!--Footer Links-->
  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3">
      <!--First column-->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Useful links</strong>
        </h6>
        <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a id="footer-link-faq" href="{{ url_for('core.faq') }}">Frequently Asked Questions</a>
        </p>
        <p>
          <a id="footer-link-" href="#">Web Site Text</a>
        </p>
        <p>
          <a id="footer-link-license" href="{{ url_for('core.license') }}">License</a>
        </p>
        <p>
          <a id="footer-link-" href="{{ url_for('core.tcs') }}">Term & Conditions</a>
        </p>
        <p>
          <a id="footer-link-policy" href="{{ url_for('core.privacy_policy') }}">Privacy Policy</a>
        </p>
      </div>
      <!--/.First column-->
      <!--Second column-->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">
          <strong>SOME TEXT IN BOLD</strong>
        </h6>
        <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a id="footer-link-" href="#">Link 1</a>
        </p>
        <p>
          <a id="footer-link-" href="#">Link 2</a>
        </p>
        <p>
          <a id="footer-link-" href="#">Link 3</a>
        </p>
        <p>
          <a id="footer-link-" href="#">Link 4</a>
        </p>

      </div>
      <!--/.Second column-->
      <!--Third column-->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">
          <strong> SOME TEXT IN BOLD</strong>
        </h6>
        <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a id="footer-link-" href="#">Link 7</a>
        </p>
        <p>
          <a id="footer-link-" href="#">Link 8</a>
        </p>
        <p>
          <a id="footer-link-" href="#">Link 9</a>
        </p>
        <p>
          <a id="footer-link-" href="#">Link 10</a>
        </p>

      </div>
      <!--/.Third column-->
      <!--Fourth column-->
      <div class="col-md-4 col-lg-3 col-xl-3">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Company</strong>
        </h6>
        <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-envelope mr-3"></i> contact@BusinessExpenseTracker.com</p>
        </p>
        <p>
          <a id="footer-link-team" href="/general/our-team/">
            <i class="fas fa-users mr-3"></i> Our team</a>
        </p>
        <p>
          <a id="footer-link-company" href="/general/contact/">
            <i class="fas fa-bullhorn mr-3"></i> Company data</a>
        </p>
      </div>
      <!--/.Fourth column-->
    </div>
  </div>
</footer>
  </html>
